.header{
    background-color: yellow;
    text-align: center;
}
.header td{
    height:60px;
}
.second{
    background-color: blue;
    height: 625px;
    width:100px;
}
.main{
    text-align: center;
} 
.sixth{
    background-color: red;
    height: 50px;
    text-align: center;
    margin: 10px;
}
.third{
    text-align: center;
}
.fourth{
    background-color: blue;
    text-align: center;
    width:150px;
}
.seventh{
    background-color: red;
    text-align: center;
    height: 30px;
}
.footer{
    background-color: yellow;
    text-align: center;
}
.footer td{
    height: 40px;
}
body {
    margin: 0;
    padding: 0;
}