body{
    font-family:system-ui;
}

header{
    background-color: #4A505E; 
    display: flex; 
    align-items: center;
    padding-top:2%;
    padding-bottom: 2%;
}

header img{
    padding-left: 10px;
    margin-right: 10px;
    width: 5em;
}

header button{
    font-family:system-ui;
}

.hdr{
    display: flex;
    flex-direction: column;
    border: 2px solid white;
}

.hdr button{
    font-size:10px;
    padding: 5px 5px;
    background-color: #4A505E; 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition-duration: 0.4s;
    
}
.hdr button:hover{
    background-color: white;
    color: #4A505E;
}

.red{
    display: flex;
    position:absolute;
    right:0;
    border: 2px solid #e81a4b;
    background-color: #4A505E; 
    color: white;
    margin: 5%;
    padding:2%;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition-duration: 0.4s;
    overflow: hidden;
}

.red:hover{
    background-color: #e81a4b;
    color: white;
}

h1{
    margin: 0;
    text-align: center;
    color:white;
    background:#e81a4b;
}

.categories{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card{
    margin: 2%;
    border: 3px solid black;
    border-radius: 10px;
    transition-duration: 0.3s;
}

.card img{
    width: 90px;
}

.card:hover{
    border: 3px solid #e81a4b; 
}

.picture{
   padding: 15px; 
}

.productname{
    text-align: center;
    border-top: 2px solid rgb(147, 147, 147);
}

.characteristics{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.prdct{
    width:50%;
}

table{
    border-collapse: collapse;
    text-align:center;
}

th, td:first-child{
    background: #e81a4b;
    color: white;
    padding: 10px 20px;
}

th, td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
}

td {
    background: #f2f2f2;
}

.tutorial{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.rectangle {
    counter-reset: li; 
    list-style: none; 
    padding: 0;
}
.rectangle a {
    position: relative;
    display: block;
    padding: .4em .4em .4em .8em;
    margin: .5em 0 .5em 2.5em;
    background: #f2f2f2;
}
   
.rectangle a:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -2.5em;
    top: 50%;
    margin-top: -1em;
    background: #e81a4b;
    color:white;
    height: 2em;
    width: 2em;
    line-height: 2em;
    text-align: center;
    font-weight: bold;
}

.register{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
 .sbmt {
    font-size:medium;
    border: 2px solid #e81a4b;
    background-color: white; 
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition-duration: 0.4s;
 }

 .sbmt:hover{
    background-color: #e81a4b;
    color: white;
 }

 .impt{
    height: 38px;
    padding: 0 10px;
    border: 1px solid rgba(237, 82, 118, 0.578);
    font-size: 20px;
    outline: none;
 }


@media (min-width: 768px){
    header img{
        width: 10em;
    }

    .hdr button{
        font-size:15px;
    }

    .red{
        font-size:15px;
    }

    .card{
        font-size:15px; 
        width: 160px;
    }

    .card img{
        width: 100%;
    }

    .tutorial{
        font-size:15px;
    }

    .register{
        font-size:15px;
    }
}



@media (min-width: 1024px) {
    header img{
        width: 15em;
    }

    .hdr button{
        font-size:20px;
    }

    .red{
        font-size:20px;
    }

    .card{
        font-size:20px; 
        width: 220px;
    }

    .card img{
        width: 100%;
    }

    .tutorial{
        font-size:20px;
    }

    .register{
        font-size:20px;
    }
}

