body{
    background-color: rgb(41,41,41);
    font-family: "Noto Sans", sans-serif;;
}

header{
    text-align: center;
}

header h1{
    color:rgb(255, 150, 56);
}

header h2{
    color: white;
}

main{
    background-color: rgb(41,41,41);
    display:flex;
    flex-direction: column;
}
.courses{
    display: flex;
    flex-wrap: wrap;   
    margin-top: 5%;
    justify-content: space-around;
}

.card{
    margin-top: 2%;
    display:flex;
    flex-direction: column;
    background-color: rgb(33, 33, 33);
    width: 400px; 
    text-align: center;
    border: 3px solid rgb(56, 56, 56);
    border-radius: 25px;
    transition-duration: 0.5s;

}
.card:hover{
    border: 3px solid rgb(255, 150, 56);
}

.detail{
    background-color: rgb(41,41,41);
    margin-top: 40px;
    border-top: 1px solid rgb(56, 56, 56);
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

.detail p{
    color:white;
}

.title{
    display: flex;
    flex-direction: column;
}

.title p{
    color:rgb(255, 150, 56);
}

.title h1{
    color: white;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 25%;
    margin-right:15%;
}

.info p{
    margin: 2px 0;
    color:white;
}

.left{
    margin-top: 50px;
    color:rgb(50, 155, 248);
}

.photos{
    margin-top: 10%;
    display:flex;
    flex-wrap: wrap;
    background-color: rgb(50, 152, 242);
    flex-basis: 100%;
    justify-content: space-around;
}

.photos img{
    padding: 30px;
    border-radius: 40px;
}

.description{
    background-color: white;
    display: flex;
    
    flex-wrap: wrap;
    justify-content: space-around;
}

.text{
    flex-basis: 40%;
    margin-left: 15%;
    margin-top: 5%;
}

.text h1{
    margin-bottom: 15%;
    color:rgb(255, 150, 56);
}

footer{
    background-color: rgb(255, 150, 56);;
}

footer h1{
    color:white;
    margin-left: 5%;
}