header {
    width: 1503px;
    background-color: yellow;
    text-align: center;
    height: 60px;
}

footer{
    text-align: center;
    background-color: yellow;
    height: 40px;
    width: 1503px;
}

.main {
    width: 1503px;
    display: flex;
}

.second {
    background-color: blue;
    text-align: center;
    height: 625px;
    width: 100px;
}

.third{
    width: 701px;
    text-align: center;
    height: 575px;
}

.fourth{
    background-color: blue;
    width: 702px;
    text-align: center;
}

.sixth{
    background-color: red;
    width: 701px;
    height: 50px;
    text-align: center;
}